.CustomerService {
  width: 100%;
  margin-bottom: 2rem;
}
.CustomerService > .title_area {
  width: 100%;
  background-color: var(--color-green);
}
.CustomerService > .title_area > p:first-child {
  color: var(--color-white);
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding: 3rem 0 1rem;
}
.CustomerService > .title_area > p:last-child {
  color: var(--color-gray);
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1rem;
}
.CustomerService > .title_area > p:last-child span {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1rem;
}
.CustomerService .CustomerService_area .title{
  border-bottom: 1px solid var(--color-gray);
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.CustomerService form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: #ebebeb;
  padding: 2rem 0;
  margin: 2rem 0;
}
.CustomerService form select {
  padding: 0 1rem;
}
.CustomerService form input {
  padding: 0.5rem 25rem;
}
.CustomerService form button {
  background: none;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.3rem 1.5rem;
  font-size: 1.2rem;
}
.CustomerService .customer_area table {
  text-align: center;
  width: 100%;
}
.CustomerService .customer_area table tr:first-of-type {
  font-weight: bold;
  background-color: #ebebeb;
  font-size: 1.2rem;
}
.CustomerService .customer_area table tr th {
  padding: 1.5rem 1.3rem;
}
.CustomerService .customer_area table tr th:nth-of-type(1) {
  font-size: 1rem;
}
.CustomerService .customer_area table tr td:nth-of-type(1) {
  padding: 1.5rem 13rem;
  font-size: 1rem;
  cursor: pointer;
}
.CustomerService .customer_area table tr td:nth-of-type(2) {
  padding: 1.5rem 0.5rem;
  font-size: 1rem;
}
.CustomerService .customer_area table tr td:nth-of-type(3) {
  padding: 1.5rem 0.5rem;
  font-size: 1rem;
}
.CustomerService .customer_area .btn_area {
  display: flex;
  justify-content: right;
}
.CustomerService .customer_area button {
  background: none;
  border: none;
  background-color: var(--color-black);
  padding: 0.5rem 1.5rem;
  color: var(--color-white);
  font-size: 1rem;
}