.Write > .title_area {
  width: 100%;
  background-color: var(--color-green);
}
.Write > .title_area > p:first-child {
  color: var(--color-white);
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding: 3rem 0 1rem;
}
.Write > .title_area > p:last-child {
  color: var(--color-gray);
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1rem;
}
.Write > .title_area > p:last-child span {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1rem;
}
.Write .inner {
  background-color: #ebebeb;
  padding: 2rem 0;
}
.Write form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.Write form input {
  padding: 0.5rem;
}
.Write form textarea {
  margin-top: 2rem;
  padding: 10rem 0;
}
.Write .btn_area {
  display: flex;
  justify-content: right;
}
.Write .btn_area button {
  background: none;
  border: none;
  background-color: var(--color-black);
  padding: 0.5rem 1.5rem;
  color: var(--color-white);
  font-size: 1rem;
  margin-top: 2rem;
}