@media(max-width:767px) {
  .SignIn {
    width: 100vw;
  }
  .SignIn > .inner {
    padding: 1.5rem;
  }
  .SignIn .SignIn_left {
    display: none;
  }
  .SignIn .SignIn_right h2{
    font-size: 2rem;
  }
  .SignIn .SignIn_right > .form input {
    width: 10.5rem;
  }
}