@media(max-width:767px) {
  .Login {
    width: 100vw;
  }
  .Login > .inner {
    padding: 1.5rem;
  }
  .Login .login_left {
    display: none;
  }
  .Login .login_right h2{
    font-size: 2rem;
  }
  .Login .login_right > .form input {
    width: 10.5rem;
  }
}